__pycache__/
parcial1/__pycache__/
parcial1/escenario1/__pycache__/
parcial1/escenario2/__pycache__/
parcial2/__pycache__/
parcial2/escenario1/__pycache__/
parcial2/escenario2/__pycache__/
parcial2/escenario3/__pycache__/
